@import url(sanitizecopy.css);


body {  font-family: Arial;
        text-align: center;
}

header {
    /* margin-bottom: 100px;
    padding: 0%; */
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #000;
    color: #f8f5f5;
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

p{
    font-size: 300%;
    font-family: 'times New Roman',Times, serif;
}


div{
    font-size: 250%;
    background-color: #000;
    color: #f8f5f5;
}

/* 親要素にも border: none; を指定 */
.parent-element {
    border: none;
}

/* iframe スタイル */
iframe {
    max-width: 100%;
    border: none;
}
  